table {
    border: 5px solid;
    color: black;
    margin: auto;
    background-color: black;
}

td {
    border: 1px solid;
    padding: auto;
    background-color: white;
    color: white;
}

th {
    border: 1px solid;
    color: black;
    text-align: right;
}

button {
    margin: 0px;
    height: 3rem;
    width: 3rem;
    background-color: white;
    color: black;
}

p {
    background-color: white;
    padding: 1rem;
}
